@import './global'
// @import './fonts'
@import url('https://rsms.me/inter/inter-ui.css');


body
  height: 100vh
  background-color: $blue
  font-family: "Inter UI", sans-serif
  line-height: 150%
  color: white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transition: .6s background ease-out

  &.light
    background-color: $light-blue

  &.green
    background-color: $green

html,
body
  padding: 0
  margin: 0

a
  color: inherit
  text-decoration: none