@import './global'
@import './fonts'

html
  background-color: $blue
  font-family: "Circular"
  color: white
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

html,
body
  padding: 0
  margin: 0

a
  color: inherit
  text-decoration: none
